In [20]:
#LIBRERIAS
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Limpieza DF Liga

In [21]:
# Data Frame Liga
df_liga = pd.read_csv(r'C:\Users\Jorge\Documents\Portafolio V2\Python\Python_03_Rayados\Estadisticas_Rayados_liga.csv')

In [22]:
# Informacion de los Tipos de Datos del DataFrame
df_liga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   #       97 non-null     int64
 1   Torneo  97 non-null     object
 2   PJ      97 non-null     int64
 3   PG      97 non-null     int64
 4   PE      97 non-null     int64
 5   PP      97 non-null     int64
 6   GF      97 non-null     int64
 7   GC      97 non-null     int64
 8   DIF     97 non-null     int64
 9   PTS     97 non-null     int64
 10  POS     97 non-null     object
 11  EQS     97 non-null     int64
 12  EFE     97 non-null     object
dtypes: int64(10), object(3)
memory usage: 10.0+ KB

In [23]:
#Definir el Indice del DF al campo #, el cual
df_liga.set_index('#')

           Torneo  PJ  PG  PE  PP  GF   GC  DIF  PTS  POS  EQS     EFE
#
1         1945-46  30   5   4  21  58  133  -75   14  16°   16  23.33%
2         1956-57  24   4   7  13  23   46  -23   15  13°   13  31.25%
3         1960-61  26   7   7  12  31   44  -13   21  13°   14  40.38%
4         1961-62  26   7   5  14  37   47  -10   19  13°   14  36.54%
5         1962-63  26   8  12   6  42   38    4   28   5°   14  53.85%
..            ...  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...     ...
93  Apertura 2022  17  10   5   2  29   13   16   35   2°   18  68.62%
94  Clausura 2023  17  13   1   3  35   14   21   40   1°   18  78.43%
95  Apertura 2023  17  10   3   4  27   15   12   32   2°   18  15.14%
96  Clausura 2024  17   9   5   3  32   19   13   32   4°   18  62.75%
97  Apertura 2024  17   9   4   4  26   19    7   31   5°   18  60.78%

[97 rows x 12 columns]

### Limpieza de la Columna Torneo y columna Tipo_Torneo
- Algunos Datos traian la letra 'I' al final,
- Se agrego una nueva columna con el nombre de la Columna a Tipo_Torneo, para poder distinguir los que son Clausura / Apertura / Ligas (Primeros torneos)
- Algunos Torneos Tuvieron nombres diferentes, se estandarizaron los nombres para poder agruparse despues.

In [24]:
# Se elimino la letra I al final del los torneos
df_liga['Torneo'] = df_liga['Torneo'].str.rstrip('I')

In [25]:
# Cambio de nombre a la columna
df_liga['Tipo_Torneo'] = df_liga['Torneo']

In [26]:
# Correccion de Nombres
df_liga['Tipo_Torneo'] = df_liga['Tipo_Torneo'].str.replace('Invierno','Apertura')
df_liga['Tipo_Torneo'] = df_liga['Tipo_Torneo'].str.replace('Verano','Clausura')
df_liga['Tipo_Torneo'] = df_liga['Tipo_Torneo'].str.replace('Bicentenario','Clausura')

In [27]:
# Correcion de Nombre Especifica
df_liga['Tipo_Torneo'].loc[40] = 'Apertura'

C:\Users\Jorge\AppData\Local\Temp\ipykernel_7236\1879615904.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_liga['Tipo_Torneo'].loc[40] = 'Apertura'
C:\Users\Jorge\AppData\Local\Temp\ipykernel_7236\1879615904.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_liga['Tipo_Torneo'].loc[40] = 'Apertura'

In [28]:
# Los torneos primeros 39 torneos se agruparan como Ligas
df_liga['Tipo_Torneo'].loc[0:40] = 'Liga'

C:\Users\Jorge\AppData\Local\Temp\ipykernel_7236\1744332811.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_liga['Tipo_Torneo'].loc[0:40] = 'Liga'
C:\Users\Jorge\AppData\Local\Temp\ipykernel_7236\1744332811.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_liga['Tipo_Torneo'].loc[0:40] = 'Liga'

In [29]:
#Se añade otra columna para poder separar los años de los torneos Clausura / Apertura y dejar la columa Libre
df_liga[['Tipo_Torneo','Basura']] =df_liga['Tipo_Torneo'].str.split(' ', n = 2, expand = True)

In [30]:
#Se Elimina la columna resultante
df_liga = df_liga.drop(columns= 'Basura')

In [31]:
#Se creo una columna nueva llamada Año, para los torneos que califican como Liga, se extrajeron solo los primeros 3 digitos,
for x in df_liga.index:
    #print(df_liga.loc[x, 'Tipo_Torneo'])    
    if df_liga.loc[x, 'Tipo_Torneo'] == 'Liga':
        df_liga.loc[x,"Año"] = df_liga.loc[x, 'Torneo'][:4].strip()

In [32]:
#Mismo proceso para los torneos Liga con nombres extraños
df_liga["Año"] = df_liga["Año"].str.replace("Prod",'1985')
df_liga.loc[12,"Año"] = 1970
df_liga.loc[29,"Año"] = 1986
df_liga.loc[40,"Año"] = 1996

In [33]:
#Se quitan los valores NAN por '' para poder cambiarles el valor
df_liga = df_liga.fillna('')

# Se recorre el DF y los campos '' de la columna Año se poblaran por los ultimos 4 digitos correspondientes al año de los torneos
for x in df_liga.index:
    if df_liga.loc[x,"Año"] == '':
        df_liga.loc[x,"Año"] = df_liga.loc[x,"Torneo"][-4:].strip()

## Otras Columnas

In [34]:
#Se eliminA el caracter '°' de la Columna POS 
df_liga['POS'] = df_liga['POS'].str.replace('°','')

#Se cambio el tipo de dato de la columna Año
df_liga['Año'] = df_liga['Año'].astype('int64')

In [ ]:
# Calcule la efecitividad de los puntos conseguidos, tomando en cuenta que los torneos antes de 1994 daban 2 puntos y posterior daban 3.
# Hice esto para comprobar que la columna de EFE en realidad calculara la ifnormacion de forma correcta
for x in df_liga.index:
    if df_liga.loc[x,'Año'] <= 1994:
        total_puntos = df_liga.loc[x,"PJ"] * 2
        df_liga.loc[x,"Efectividad"] = efectividad = (df_liga.loc[x,'PTS'] / total_puntos) *100
    else:
        total_puntos = df_liga.loc[x,"PJ"] * 3
        df_liga.loc[x,"Efectividad"] = efectividad = (df_liga.loc[x,'PTS'] / total_puntos) *100
    print(total_puntos, efectividad)

In [36]:
# Añadi una nueva columna para poder agrupar mas adelante los torneos por Decadas.
for x in df_liga.index:
    for y in range(1940,2031,10):
        if df_liga.loc[x,'Año'] >= y and df_liga.loc[x,'Año'] <= y+9:
            #Decadas = print'Decada', y)
            df_liga.loc[x,"Decadas"] = 'Decada ' + str(y)

In [37]:
df_liga

,#,Torneo,PJ,PG,PE,PP,GF,GC,DIF,PTS,POS,EQS,EFE,Tipo_Torneo,Año,Efectividad,Decadas
0,1,1945-46,30,5,4,21,58,133,-75,14,16,16,23.33%,Liga,1945,23.333333,Decada 1940
1,2,1956-57,24,4,7,13,23,46,-23,15,13,13,31.25%,Liga,1956,31.250000,Decada 1950
2,3,1960-61,26,7,7,12,31,44,-13,21,13,14,40.38%,Liga,1960,40.384615,Decada 1960
3,4,1961-62,26,7,5,14,37,47,-10,19,13,14,36.54%,Liga,1961,36.538462,Decada 1960
4,5,1962-63,26,8,12,6,42,38,4,28,5,14,53.85%,Liga,1962,53.846154,Decada 1960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,93,Apertura 2022,17,10,5,2,29,13,16,35,2,18,68.62%,Apertura,2022,68.627451,Decada 2020
93,94,Clausura 2023,17,13,1,3,35,14,21,40,1,18,78.43%,Clausura,2023,78.431373,Decada 2020
94,95,Apertura 2023,17,10,3,4,27,15,12,32,2,18,15.14%,Apertura,2023,62.745098,Decada 2020
95,96,Clausura 2024,17,9,5,3,32,19,13,32,4,18,62.75%,Clausura,2024,62.745098,Decada 2020
96,97,Apertura 2024,17,9,4,4,26,19,7,31,5,18,60.78%,Apertura,2024,60.784314,Decada 2020

In [38]:
#Se exporta el DF
df_liga.to_csv(r'C:\Users\Jorge\Documents\Portafolio V2\Python\Python_03_Rayados\Estadisticas_Rayados_liga_clean.csv',index = False)